/* PAGE */
html {
  position: relative;
  min-height: 100%;
}

body,
.pure-g [class*=pure-u] {
  font-family: 'Open Sans', sans-serif;
  text-align: center;
  height: 100%;
}

body {
  margin: 0 0 30px;
  background-image: url('./assets/BG.jpg');
  background-size: 100%;
}

h1, h2, h3 {
  font-family: 'Oswald', 'Arial Narrow', sans-serif;
}

.jumbotron {
  background-color: rgba(0, 0, 0, 0.5);
}

.homeTitle {
  color: rgb(255, 120, 71);
}

.homeTitle h1 {
  font-size: 4rem;
}

.homeTitle p {
  font-size: 1rem;
}

.homeDescription {
  color: white;
  padding: 2%;
}

.displayCard {
  color: black;
}

.attributesDescription {
  padding: 6%;
}

/* NAVBAR */
.navbar {
  font-family: 'Oswald', 'Arial Narrow', sans-serif;
  background: rgb(235, 235, 235);
}

.navbar a {
  color: #fff;
}

.faqTitle {
  background-color: rgba(0, 0, 0, 0.8);
  padding: 0.5%;
  font-size: 2em;
  color: white;
  text-align: center;
}

.list-group-item {
  background-color: rgba(0, 0, 0, 0.8);
  color: white;
}

.list-group-item.active {
  background-color: orangered;
  border-color: orangered;
  font-size: 1.2em;
}

.card {
  font-size: 0.75rem;
  margin-bottom: 5%;
}

.cardTitleText {
  font-size: 1rem;
}

.cardSubtitleText {
  font-size: 0.8rem;
}

.explosionText {
  margin-bottom: 5%;
  font-size: x-small;
}

.metamaskButton {
  margin-bottom: 1%;
}

.claimFundButton {
  margin-top: 2%;
}

.buyButton {
  font-size: x-small;
}

.wrongNetworkBar {
  background-color: #ffdd57
}

.boldText {
  color: #ffdd57;
}

.boldModalText {
  color: red;
}

/* FORMS */

.pure-form {
  display: inline-block;
}

#loadingContainer {
  min-height: 80%;
  padding: 10%;
  color: white;
  vertical-align: middle;
  font-size: 200%;
}

.footer {
  position: absolute;
  width: 100%;
  height: 30px;
  bottom:0;
  color: white;
  background-color: rgba(255,0,0,0.5);
}